# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

cbits/link-cut/lc
cbits/online-matching/om

# Debug files
*.dSYM/
*.su

# Vagrant
.vagrant

# Test
myout.d/*

# Haskell
.stack-work
/auto/report.el
